@import "navbar.scss", "button.scss","slider.scss","about.scss", 
		"expertise.scss", "teams.scss";

.padding-reset {
	padding: 0;
}

.b-page{
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.b-flex-1{
	flex: 1 1 auto;
}

.clr-fix{	
	&:before,
	&:after{
	content:"";
	display:block;
	}
	&:after{
		clear:both;
	}
}

.b-page_h2{
	margin:0;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 5px;
}

h3 {
	margin-top: 0;
	font-weight: 500;		
}

.b-page_p {
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
}

.bg-color_purple {
	background: rgba(73, 66, 102, .7);
}

@media (min-width: 1200px) {
	.container {
	    max-width: 970px;
	}
}