.b-navbar_padding_margin {
	padding: 15px 0;
	margin: 0;	
}

.navbar-nav {
	margin: 0 -15px;
	li {
		display: inline-block;
	}
	li > a {
		color: #FFF;
		padding-left: 0;
		padding-right: 0;
	
		&:hover, &:focus {
			color: #00E0D0;
			background: none;
		}
	}

	li + li {
		margin-left: 20px;
	}	
}

nav .navbar-header {
	
	a {
		color: #00E0D0;		

		&:hover {
			color: #FFF;
		}
	}

	.navbar-toggle:hover {
		background: #00E0D0;
		opacity: .3;
	}

	.navbar-toggle .icon-bar {
		background: #FFF;

		&:hover {
			background: #00E0D0;
		}
	}
	
	object {
		display: block;
		float: left;
		margin-right: 10px;
	}

}

.navbar-brand {
	font-size: 26px;	
}