.b-header_bg_image {
background: linear-gradient(to right, rgba(44,39,75,0.85), rgba(67,51,108,0.85)), 
	url("../files/images/foto.png") no-repeat center;
	background-size: auto, cover;
	background-attachment: scroll, fixed;

}

.slider-block {
	width: auto;
	height: 670px;
	opacity: 1;
	background-color: none;
}
