.b-about
	.container
		.row
			.col-md-5
				.logo-big.b-about_logo.text-center
					object(type="image/svg+xml" data="files/svg/logo_tajam_big.svg")
						img(src="files/images/logo_tajam_big.png" alt="image format png")
			.col-md-7
				.b-about_text
					h3.text-uppercase.b-about_h3_margin-top our story
					p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
					p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
					button(class='btn text-uppercase button text-uppercase', type='button') learn more