.b-contact
	.container
		.row.b-contact_padding
			.col-md-6
				h3.text-uppercase.text-left give us a good news
				form
					.form-group
						input(type="text" class="form-control"  placeholder="Name")
					.form-group
						input(type="email" class="form-control"  placeholder="Email")
					.form-group
						input(type="text" class="form-control"  placeholder="Subject")
					.form-group  
						textarea(class="form-control" rows="8"  placeholder="Your subject")
					button(type="submit" class="btn btn-default button text-uppercase") submit
			.col-md-5.col-md-offset-1
				h3.text-uppercase.text-left our happy client
				.row.b-contact_brand_margin 
					.col-md-6.text-center
						img(src="files/images/brand001.png", alt="")
					.col-md-6.text-center
						img(src="files/images/brand002.png", alt="")
				.row.b-contact_brand_margin 
					.col-md-6.text-center
						img(src="files/images/brand003.png", alt="")
					.col-md-6.text-center
						img(src="files/images/brand004.png", alt="")
				.row.b-contact_brand_margin 
					.col-md-6.text-center
						img(src="files/images/brand005.png", alt="")
					.col-md-6.text-center
						img(src="files/images/brand006.png", alt="")
				.row.b-contact_brand_margin 
					.col-md-6.text-center
						img(src="files/images/brand007.png", alt="")
					.col-md-6.text-center
						img(src="files/images/brand008.png", alt="")
				.row.b-contact_brand_margin 
					.col-md-6.text-center
						img(src="files/images/brand009.png", alt="")
					.col-md-6.text-center
						img(src="files/images/brand010.png", alt="")