include form_helpers
.b-expertise
	.container
		.row
			.col-md-12
				.b-expertise_padding_top_bottom
					.text-center
						h3.text-uppercase expertise
						p Lorem ipsum dolor sit amet proin gravida nibh vel velit
					.row.b-expertise_row_border
						.col-md-4
							.item.text-center
								i(class="fa fa-desktop fa-3x" aria-hidden="true")
								p.text-uppercase web design &amp; development
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.
						.col-md-4
							.item.text-center
								i(class="fa fa-pie-chart fa-3x" aria-hidden="true")
								p.text-uppercase branding identity
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.
						.col-md-4
							.item.text-center
								i(class="fa fa-mobile fa-3x" aria-hidden="true")
								p.text-uppercase mobile app
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.
					.row
						.col-md-4
							.item.text-center
								i(class="fa fa-pie-chart fa-3x" aria-hidden="true")
								p.text-uppercase serch engineer optimization
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.
						.col-md-4
							.item.text-center
								i(class="fa fa-paint-brush fa-3x" aria-hidden="true")
								p.text-uppercase game development
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.
						.col-md-4
							.item.text-center
								i(class="fa fa-heart-o fa-3x" aria-hidden="true")
								p.text-uppercase made with love
								p This is Photoshop's version  of Lorem 
									br 
									| Ipsum. Proin gravida nibh vel velit
									br 
									| auctor aliquet Aenean.