nav.navbar.navbar-fixed-top
					.container
						.row
							.col-md-12
								.navbar-header
									object(type="image/svg+xml" data="files/svg/logo_tajem.svg")
										img(src="files/images/logo_ta1jem.png" alt="image format png")
									a(class="navbar-brand", href="#") tajem
								ul.nav.navbar-nav.navbar-right
									li
										a(class="text-uppercase", href="#") home
									li
										a(class="text-uppercase", href="#") about
									li
										a(class="text-uppercase", href="#") expertise
									li
										a(class="text-uppercase", href="#") teams
									li
										a(class="text-uppercase", href="#") works
									li
										a(class="text-uppercase", href="#") people say
									li
										a(class="text-uppercase", href="#") contact