include form_helpers
nav.navbar.navbar-fixed-top.b-navbar_padding-top
					.container
						.row
							.col-md-5								
								.navbar-header
									object(type="image/svg+xml" data="files/svg/logo_tajem.svg")
										img(src="files/images/logo_ta1jem.png" alt="image format png")
									a(class="navbar-brand", href="#") tajam
							.col-md-7
								ul.nav.navbar-nav.navbar-right
									+indicators([{'href':'#', 'btnName':'home'}, {'href':'#', 'btnName':'about'}, {'href':'#', 'btnName':'expertise'}, {'href':'#', 'btnName':'teams'},
									 {'href':'#', 'btnName':'works'}, {'href':'#', 'btnName':'people say'}, {'href':'#', 'btnName':'contact'}
									 ])
									