nav.navbar.navbar-default
					.container-fluid
						.navbar-header
							a(class="navbar-brand" href="#") tajem
						ul.nav.navbar-nav.navbar-right
							li.active
								a(class="text-uppercase" href="#") home
							li
								a(class="text-uppercase" href="#") about
							li
								a(class="text-uppercase" href="#") expertise
							li
								a(class="text-uppercase" href="#") teams
							li
								a(class="text-uppercase" href="#") works
							li
								a(class="text-uppercase" href="#") people say
							li
								a(class="text-uppercase" href="#") contact