.b-teams
	.container-fluid
		.row.b-teams_bg-image
			.container
				.row.text-center.b-teams_padding
					.col-md-12
						h3.text-uppercase meet our amazing team
						p Lorem ipsum dolor sit amet proin gravida nibh vel velit
					.row
						.col-md-3
							.row
								.col-md-12
									img(src="files/images/b-team_foto1.jpg", alt="")
							.row
								.col-md-12
									p semf ucuk
										br
										| ceo &amp; founder
						.col-md-3
							.row
								.col-md-12
									img(src="files/images/b-team_foto2.jpg", alt="")
							.row
								.col-md-12
									p dik adalin
										br
										| engineering
						.col-md-3
							.row
								.col-md-12
									img(src="files/images/b-team_foto3.jpg", alt="")
							.row
								.col-md-12
									p jeng kol
										br
										| designer
						.col-md-3
							.row
								.col-md-12
									img(src="files/images/b-team_foto4.jpg", alt="")
							.row
								.col-md-12
									p pet romak
										br
										| marketing
					.row
						.col-md-12
							p Become part of our dream team, let’s join us !
							button(class='btn text-uppercase button text-uppercase', type='button') we are hiring