.b-works
	.container-fluid
		.b-works_padding
			.row.b-work_elements_margin
				.container
					.row
						.col-md-6.text-left
							h3.text-uppercase our works
						.col-md-6.text-right 
							a(class="b-works_link_style" href="#" target="_blank") See All Project in dribbble <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			.row.text-center.b-work_elements_margin
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work1.jpg", alt="work1", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work2.jpg", alt="work2", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work3.jpg", alt="work3", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work4.jpg", alt="work4", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work5.jpg", alt="work5", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work6.jpg", alt="work6", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work1.jpg", alt="work1", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work2.jpg", alt="work2", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work3.jpg", alt="work3", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work4.jpg", alt="work4", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work5.jpg", alt="work5", width="267px", height="200px")
				a.b-work_link(href="#")
					img.b-work_img(src="files/images/work6.jpg", alt="work6", width="267px", height="200px")
			.row
				.container
					.row.text-center
						.col-md-12
							button(class='btn button text-uppercase', type='button') load more